src/main/resources/schemas/services/news/deletenewsarticleservice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.mybankapp.org/deletenewsarticle/wsdl"
           targetNamespace="http://www.mybankapp.org/deletenewsarticle/wsdl" elementFormDefault="qualified">

    <xs:element name="deleteNewsArticleRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="newsId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteAccountResponse" >
    </xs:element>

</xs:schema>