src/main/resources/schemas/wsdl/addaccount.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:sch="http://www.mybankapp.org/addaccount/wsdl"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://localhost:8080"
                  targetNamespace="http://localhost:8080">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.mybankapp.org/addaccount/wsdl"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="qualified"
                   targetNamespace="http://www.mybankapp.org/addaccount/wsdl">

            <xs:element name="addAccountRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="currencyAccountDTO" type="tns:currencyAccountDTO"/>
                        <xs:element name="uuid" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="addAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="currencyAccountDTO" type="tns:currencyAccountDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="currencyAccountDTO">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="balance" type="xs:double"/>
                    <xs:element name="owneruuid">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="36"/>
                                <xs:pattern value="([0-9]|[a-f]|[A-F]){8}(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){12})"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="currency">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="usd"/>
                                <xs:enumeration value="eur"/>
                                <xs:enumeration value="rub"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addAccountRequest">
        <wsdl:part element="sch:addAccountRequest" name="addAccountRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addAccountResponse">
        <wsdl:part element="sch:addAccountResponse" name="addAccountResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AddAccountPort">
        <wsdl:operation name="addAccount">
            <wsdl:input message="tns:addAccountRequest" name="addAccountRequest">
            </wsdl:input>
            <wsdl:output message="tns:addAccountResponse" name="addAccountResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AddAccountPortSoap11" type="tns:AddAccountPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addAccount">
            <soap:operation soapAction=""/>
            <wsdl:input name="addAccountRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addAccountResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AddAccountPortService">
        <wsdl:port binding="tns:AddAccountPortSoap11" name="AddAccountPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>