src/main/resources/schemas/wsdl/addnewsarticle.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:sch="http://www.mybankapp.org/addnewsarticle/wsdl"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://localhost:8080"
                  targetNamespace="http://localhost:8080">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.mybankapp.org/addnewsarticle/wsdl"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="qualified"
                   targetNamespace="http://www.mybankapp.org/addnewsarticle/wsdl">

            <xs:element name="addNewsArticleRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="newsArticleDTO" type="tns:newsArticleDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="addNewsArticleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="newsArticleDTO" type="tns:newsArticleDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="newsArticleDTO">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="shorttext" type="xs:string"/>
                    <xs:element name="fulltext" type="xs:string"/>
                    <xs:element name="linktoimg" type="xs:string"/>
                    <xs:element name="buttonname" type="xs:string"/>
                    <xs:element name="url" type="xs:anyURI"/>
                    <xs:element name="date" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addNewsArticleResponse">
        <wsdl:part element="sch:addNewsArticleResponse" name="addNewsArticleResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addNewsArticleRequest">
        <wsdl:part element="sch:addNewsArticleRequest" name="addNewsArticleRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AddNewsArticlePort">
        <wsdl:operation name="addNewsArticle">
            <wsdl:input message="tns:addNewsArticleRequest" name="addNewsArticleRequest">
            </wsdl:input>
            <wsdl:output message="tns:addNewsArticleResponse" name="addNewsArticleResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AddNewsArticlePortSoap11" type="tns:AddNewsArticlePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addNewsArticle">
            <soap:operation soapAction=""/>
            <wsdl:input name="addNewsArticleRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addNewsArticleResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AddNewsArticlePortService">
        <wsdl:port binding="tns:AddNewsArticlePortSoap11" name="AddNewsArticlePortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>