src/main/resources/schemas/wsdl/addtransaction.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.mybankapp.org/addtransaction/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.mybankapp.org/gen" targetNamespace="http://www.mybankapp.org/gen">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.mybankapp.org/addtransaction/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.mybankapp.org/addtransaction/wsdl">

            <xs:element name="addTransactionRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="transactionDTO" type="tns:transactionDTO"/>
                        <xs:element name="accountId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="addTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="transactionDTO" type="tns:transactionDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="transactionDTO">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="date" type="xs:dateTime"/>
                    <xs:element name="amount" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>


        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addTransactionRequest">
        <wsdl:part element="sch:addTransactionRequest" name="addTransactionRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addTransactionResponse">
        <wsdl:part element="sch:addTransactionResponse" name="addTransactionResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AddTransactionPort">
        <wsdl:operation name="addTransaction">
            <wsdl:input message="tns:addTransactionRequest" name="addTransactionRequest">
            </wsdl:input>
            <wsdl:output message="tns:addTransactionResponse" name="addTransactionResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AddTransactionPortSoap11" type="tns:AddTransactionPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addTransaction">
            <soap:operation soapAction=""/>
            <wsdl:input name="addTransactionRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addTransactionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AddTransactionPortService">
        <wsdl:port binding="tns:AddTransactionPortSoap11" name="AddTransactionPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>