src/main/resources/schemas/wsdl/getpersonaccounts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.mybankapp.org/getaccounttransactions/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.mybankapp.org/gen" targetNamespace="http://www.mybankapp.org/gen">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.mybankapp.org/getaccounttransactions/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.mybankapp.org/getaccounttransactions/wsdl">

            <xs:element name="getAccountTransactionsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="accountId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getAccountTransactionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="transactionDTO" type="tns:transactionDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="transactionDTO">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="date" type="xs:dateTime"/>
                    <xs:element name="amount" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>


        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAccountTransactionsResponse">
        <wsdl:part element="sch:getAccountTransactionsResponse" name="getAccountTransactionsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAccountTransactionsRequest">
        <wsdl:part element="sch:getAccountTransactionsRequest" name="getAccountTransactionsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GetpersonAccountsPort">
        <wsdl:operation name="getAccountTransactions">
            <wsdl:input message="tns:getAccountTransactionsRequest" name="getAccountTransactionsRequest">
            </wsdl:input>
            <wsdl:output message="tns:getAccountTransactionsResponse" name="getAccountTransactionsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetpersonAccountsPortSoap11" type="tns:GetpersonAccountsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getAccountTransactions">
            <soap:operation soapAction=""/>
            <wsdl:input name="getAccountTransactionsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAccountTransactionsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetpersonAccountsPortService">
        <wsdl:port binding="tns:GetpersonAccountsPortSoap11" name="GetpersonAccountsPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>