src/main/resources/schemas/wsdl/getperson.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:sch="http://www.mybankapp.org/getperson/wsdl"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://localhost:8080"
                  targetNamespace="http://localhost:8080">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.mybankapp.org/getperson/wsdl"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="qualified"
                   targetNamespace="http://www.mybankapp.org/getperson/wsdl">

            <xs:element name="getPersonRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="uuid">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="36"/>
                                    <xs:pattern value="([a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12})"/>                 </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getPersonResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="personDTO" type="tns:personDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="personDTO">
                <xs:sequence>
                    <xs:element name="uuid">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="36"/>
                                <xs:pattern value="([a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12})"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getPersonResponse">
        <wsdl:part element="sch:getPersonResponse" name="getPersonResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPersonRequest">
        <wsdl:part element="sch:getPersonRequest" name="getPersonRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GetPersonPort">
        <wsdl:operation name="getPerson">
            <wsdl:input message="tns:getPersonRequest" name="getPersonRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPersonResponse" name="getPersonResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetPersonPortSoap11" type="tns:GetPersonPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPerson">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPersonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPersonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetPersonPortService">
        <wsdl:port binding="tns:GetPersonPortSoap11" name="GetPersonPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>