src/main/resources/schemas/wsdl/shownews.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:sch="http://www.mybankapp.org/shownews/wsdl"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://localhost:8080"
                  targetNamespace="http://localhost:8080">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.mybankapp.org/shownews/wsdl"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="qualified"
                   targetNamespace="http://www.mybankapp.org/shownews/wsdl">

            <xs:element name="showNewsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="numberOfNews" type="xs:int"/>
                        <xs:element name="uuid">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="36"/>
                                    <xs:pattern value="([0-9]|[a-f]|[A-F]){8}(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){12})"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="showNewsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="newsArticleDTO" type="tns:newsArticleDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="newsArticleDTO">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="shorttext" type="xs:string"/>
                    <xs:element name="fulltext" type="xs:string"/>
                    <xs:element name="linktoimg" type="xs:string"/>
                    <xs:element name="buttonname" type="xs:string"/>
                    <xs:element name="url" type="xs:anyURI"/>
                    <xs:element name="date" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="showNewsRequest">
        <wsdl:part element="sch:showNewsRequest" name="showNewsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="showNewsResponse">
        <wsdl:part element="sch:showNewsResponse" name="showNewsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ShowNewsPort">
        <wsdl:operation name="showNews">
            <wsdl:input message="tns:showNewsRequest" name="showNewsRequest">
            </wsdl:input>
            <wsdl:output message="tns:showNewsResponse" name="showNewsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ShowNewsPortSoap11" type="tns:ShowNewsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="showNews">
            <soap:operation soapAction=""/>
            <wsdl:input name="showNewsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="showNewsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ShowNewsPortService">
        <wsdl:port binding="tns:ShowNewsPortSoap11" name="ShowNewsPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>