src/main/resources/schemas/wsdl/unwatchnewsarticle.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.mybankapp.org/unwatchnewsarticle/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.mybankapp.org/gen" targetNamespace="http://www.mybankapp.org/gen">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.mybankapp.org/unwatchnewsarticle/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.mybankapp.org/unwatchnewsarticle/wsdl">

            <xs:element name="unwatchNewsArticleRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="newsId" type="xs:long"/>
                        <xs:element name="uuid">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="36"/>
                                    <xs:pattern value="([0-9]|[a-f]|[A-F]){8}(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){12})"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="unwatchNewsArticleResponse">
            </xs:element>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="unwatchNewsArticleResponse">
        <wsdl:part element="sch:unwatchNewsArticleResponse" name="unwatchNewsArticleResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="unwatchNewsArticleRequest">
        <wsdl:part element="sch:unwatchNewsArticleRequest" name="unwatchNewsArticleRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UnwatchNewsArticlePort">
        <wsdl:operation name="unwatchNewsArticle">
            <wsdl:input message="tns:unwatchNewsArticleRequest" name="unwatchNewsArticleRequest">
            </wsdl:input>
            <wsdl:output message="tns:unwatchNewsArticleResponse" name="unwatchNewsArticleResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UnwatchNewsArticlePortSoap11" type="tns:UnwatchNewsArticlePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="unwatchNewsArticle">
            <soap:operation soapAction=""/>
            <wsdl:input name="unwatchNewsArticleRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="unwatchNewsArticleResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UnwatchNewsArticlePortService">
        <wsdl:port binding="tns:UnwatchNewsArticlePortSoap11" name="UnwatchNewsArticlePortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>