src/main/resources/schemas/wsdl/watchnewsarticle.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:sch="http://www.mybankapp.org/watchnewsarticle/wsdl"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://localhost:8080"
                  targetNamespace="http://localhost:8080">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.mybankapp.org/watchnewsarticle/wsdl"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="qualified"
                   targetNamespace="http://www.mybankapp.org/watchnewsarticle/wsdl">

            <xs:element name="watchNewsArticleRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="newsId" type="xs:long"/>
                        <xs:element name="uuid">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="36"/>
                                    <xs:pattern value="([0-9]|[a-f]|[A-F]){8}(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){12})"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="watchNewsArticleResponse">
            </xs:element>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="watchNewsArticleResponse">
        <wsdl:part element="sch:watchNewsArticleResponse" name="watchNewsArticleResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="watchNewsArticleRequest">
        <wsdl:part element="sch:watchNewsArticleRequest" name="watchNewsArticleRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="WatchNewsArticlePort">
        <wsdl:operation name="watchNewsArticle">
            <wsdl:input message="tns:watchNewsArticleRequest" name="watchNewsArticleRequest">
            </wsdl:input>
            <wsdl:output message="tns:watchNewsArticleResponse" name="watchNewsArticleResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WatchNewsArticlePortSoap11" type="tns:WatchNewsArticlePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="watchNewsArticle">
            <soap:operation soapAction=""/>
            <wsdl:input name="watchNewsArticleRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="watchNewsArticleResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WatchNewsArticlePortService">
        <wsdl:port binding="tns:WatchNewsArticlePortSoap11" name="WatchNewsArticlePortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>