src/main/resources/schemas/xsd/transactiondto.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="transactiondto">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:long"/>
                <xsd:element name="date" type="xsd:dateTime"/>
                <xsd:element name="amount" type="xsd:double"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>